<!doctype html>
<html lang="en">
<head>
<title>О нас</title>
<div th:replace="~{commons :: head}"></div>
</head>
<body>


	<div th:replace="~{commons :: nav}"></div>

	<section class="aboutInfo">
		<div class="container">
			<div class="row">
				<div class="col">
					<h1 class="text-center fz-20">Добро пожаловать на наш склад!</h1>
					<h3 class="text-center fz-15">Мы подготовили для вас несколько
						интересных фактов, чтобы вы не скучали</h3><br>
				</div>
			</div>
			<div class="row">
				<div class="col text-center">
					<div>
						Первые склады индивидуального хранения (self-storage) появились в США в начале 1950-х годов и обрели большую популярность. Сейчас в стране действует 50 тыс. складов индивидуального хранения, их общая площадь составляет 210 млн кв. м. Оборот отрасли в США составляет $22 млрд в год. Для России – это молодой бизнес, ему всего несколько лет.
					</div>
					<br><br>
					<div>
						Склады индивидуального хранения востребованы компаниями малого и среднего бизнеса. Большой пул арендаторов составляют интернет-магазины, которые размещают в ячейках товарные остатки. При уменьшении запаса товаров и освобождении площади клиент может в любой момент снять помещение поменьше и не переплачивать за неиспользуемые площади. Также складами часто пользуются рестораторы, которые на зимний период размещают в них оборудование для летних кафе и веранд.
					</div>
					<br><br>
					<div>
						Любопытный факт. В Великобритании был случай, когда человек, которому нужно было временное пристанище, две недели официально жил в арендованной ячейке на складе self-storage. В России это невозможно, поскольку не предусмотрено законодательством.
					</div>
					<br><br>
					<div>
						Частные лица чаще всего используют склады self-storage для сезонного хранения вещей. На лето период туда отвозят зимнюю одежду и обувь, которая занимает много места, лыжи, детские санки, зимнюю резину. Зимой в ячейках хранят велосипеды, самокаты, громоздкое туристическое снаряжение. Таким образом, склады индивидуального хранения стали хорошей альтернативой кладовкам и балконам, где традиционно хранятся сезонные вещи.
					</div>
				</div>
			</div>
		</div>
	</section>

</body>
</html>