<!doctype html>
<html lang="en">
<head>
<title>Контакты</title>
<div th:replace="~{commons :: head}"></div>
</head>
<body>


	<div th:replace="~{commons :: nav}"></div>

	<section class="aboutInfo">
		<div class="container">
			<div class="row">
				<div class="col">
					<h1 class="text-center fz-20">Добро пожаловать на наш склад!</h1>
					<h3 class="text-center fz-15">Ниже можно видеть контакты для связи с нами</h3><br>
				</div>
			</div>
			<div class="row">
				<div class="col text-center">
					<div>
						Телефон: 8(800) 555-35-35
					</div>
					<br><br>
					<div>
						Наш адрес:
						Улица пушкина, дом Колотушкина 666
					</div>					
				</div>
			</div>
		</div>
	</section>

</body>
</html>