<!doctype html>
<html lang="en">

<head>
    <title>Главная</title>
    <div th:replace="~{commons :: head}"></div>
</head>

<body>
    
	<div th:replace="~{commons :: nav}"></div>
    
<section class="orders" id="orders">
    <div class="container">
        <div class="order-items">
        <h3 class="text-center">Страница истории</h3>
        <h4 class="text-center">На странице будут отображены все заказы</h4>
            <div class="row item p-3" th:each="entityM:${entity.myOrders}" >
                <div class="h3 order-title" th:text="'Заказ от:'+${entityM.dateOrder}+' на дату '+${entityM.dateDelivery}">Заказ на 25,25,2025</div>
                <div class="order-table" th:text="'Статус: '+${entityM.status}">status</div>        
                <div class="order-table" th:text="'Доставщик: '+${entityM.transporter}">ransporter</div>
                <div class="order-food">
                    <div class="order-food-item" >
                    	<table class="table table-striped table-responsive-md">
	                        <thead>
	                            <tr>	                                
	                                <th>Товар</th>
                                    <th>Цена</th>
                                    <th>Количество</th>
                                    <th>Сумма</th>
	                            </tr>
	                        </thead>
	                        <tbody>
	                            <tr th:each="entity1 : ${entityM.orderElements}">
                                    <td th:text="${entity1.product.name}"></td>
                                    <td th:text="${entity1.product.price}"></td>
                                    <td th:text="${entity1.count}"></td>
                                    <td th:text="${entity1.product.price * entity1.count}"></td>
                                    <td>
	                        </tbody>
	                    </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


</body>

</html>